.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0;
  gap: .25em;
}

a {
  font-weight: 600;
  color: #776565;
}

a:hover {
  color: white;
  transition: all .25s;
}

p {
  font-size: .875em;
}

button {
  margin: 0 auto;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  text-align: left;
}

.actions > p {
  width: 100%;
}
