<form [formGroup]="form" >

  <div class="rows">
    <div class="row">
      <h3>Login</h3>
      <mat-form-field style="width: 250px;">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" placeholder="login" required/>
        <mat-error *ngIf="login.invalid">Login é obrigatório.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field style="width: 250px;">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" placeholder="senha" required/>
        <mat-error *ngIf="password.invalid">Senha é obrigatória.</mat-error>
      </mat-form-field>
    </div>
    <div class="actions">
      <p>Não possui uma conta? <a routerLink="/register">Registre-se</a></p>
      <button mat-flat-button type="submit">Entrar</button>
    </div>

  </div>

</form>
